/* --- APP BASE STYLES ----*/
.annoweb * {
    margin: 0;
    padding: 0;
}
.annoweb label {
    position: relative;
}

.annoweb.anno-comment {
    padding: 15px;
    position: absolute;
    left: -100px;
    min-width: 100px;
    max-width: 250px;
    width: 100%;
}
.annoweb.anno-comment.anno-right {
    right: 0;
}
.annoweb.anno-comment {
    border: 2px solid;
    box-shadow: 0 0 15px -5px #0003;
}
.annoweb.anno-comment.anno-default-white.anno-paper {
    background: #fff;
    border-color:#ece6c5;
}
.annoweb.anno-comment.anno-default-yellow.anno-note {
    background: #fef3ac;
    border-color: #ffea73;
}
.annoweb.anno-highlight.anno-default-yellow, .annoweb.anno-tag.anno-highlight-filter.anno-default-yellow {
    background: #fdffb3;
}
.annoweb.anno-highlight.anno-default-purple, .annoweb.anno-tag.anno-highlight-filter.anno-default-purple {
    background: #d5b3ff;
}
.annoweb.anno-quick-access-bar {
    height: 50px;
    background: #fff;
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    border-top: 2px solid #ccc;
    box-shadow: 0 0 15px -5px #0003;
    z-index: 9999999999;
}
.annoweb.anno-container {
    max-width: 1300px;
    width: 100%;
    position: relative; 
    margin: 0 auto;
}
.annoweb.anno-float:after {
    content: '';
    display: block;
    clear: both;
}
.annoweb.anno-fl {
    float: left;
}
.annoweb.anno-fr {
    float: right;
}
body.annoweb.anno-spacer {
    padding-bottom: 50px;
}
.annoweb.anno-spacer .annoweb.anno-container {
    /* max-width: 100%; */
}
.annoweb.anno-group {
    position: relative;
}
.anno-panel .annoweb.anno-group {
    display: inline;
    margin: 5px;
}
.annoweb.anno-checkbox.anno-check-slider {
    /*! opacity: 0; */
    position: relative;
    width: 40px;
    opacity: 0;
    z-index: 0;
}
.annoweb.anno-checkbox.anno-check-slider + label:before, .annoweb.anno-checkbox.anno-check-slider + label:after {
    content: '';
}
.annoweb.anno-checkbox.anno-check-slider + label:before {
    width: 20px;
    height: 20px;
    background: #fff;
    border-radius: 100%;
    position: absolute;
    left: -34px;
    z-index: 1;
    top: -4px;
    box-shadow: 0 0 15px -5px #0003;
    border: 2px solid #707070;
    transition: left 0.3s cubic-bezier(.65,.05,.36,1);
}
.annoweb.anno-checkbox.anno-check-slider:checked + label:before {
    left: -34px;
    background-color: #74ee9d;
}
.annoweb.anno-checkbox.anno-check-slider + label:after {
    background: white;
    position: absolute;
    width: 28px;
    height: 28px;
    
    border: 2px solid #707070;
    border-radius: 20px;
    transition: background 0.5s ease;
    left: -38px;
    top: -8px;
}
.annoweb.anno-checkbox.anno-check-slider + label:hover:after {
    background: #CFD;
}
.annoweb.anno-checkbox.anno-check-slider:checked + label:after {
    background: #FFF;
}
/* use .annoweb.anno-supported on webshites which wish to improve there vistors UX*/ 
.annoweb.anno-input {
    padding: .4em;
    border: 2px solid #707070;
    border-radius: 5px;
}
.annoweb.anno-input:after {
    content: "";
    clear: both;
    display: block;
}
.annoweb.anno-feature-options {
    position: absolute;
    bottom: 92px;
    right: 0px;
    background: #fff;
    border: 2px solid #ccc;
    box-shadow: 0 0 15px -5px #0003;
    min-width: 340px;
}
.annoweb.anno-feature-container {
    position: relative;
    padding: 15px;
}
.annoweb.anno-tag:first-child {
    margin-left: 0;
}
.annoweb.anno-tag {
    display: block;
    float: left;
    padding: 5px 10px;
    border-radius: 5px;
    margin-left: 5px;
    border: 2px solid #969696
}
.annoweb.anno-tag.anno-color {
    border-radius: 50%;
    height: .675em;
    width: .675em;
    padding: .8em;
}
.annoweb.anno-tag.anno-color.add-color {
    color: #ccc;
    border: 2px solid #ccc;
    background-color: #fff;
}
.annoweb.anno-feature-container h1 {
    font-size: 20px;
    font-weight:  bold;
    margin-bottom: .5em
}
.annoweb.anno-settings.anno-settings-section {
    margin-bottom: .5em;
}
.annoweb.anno-settings.anno-settings-section h2 {
    color: #75abf3;
    font-weight: bold;
    margin-bottom: .5em;
}
span.annoweb.anno-tag.anno-highlight-filter:hover {
    cursor: pointer;    
}
.anno-default-yellow:hover {
    background-color: #f7fb6c;
}
.annoweb.anno-field.anno-group h4 {
    font-weight: bold;
    margin-bottom: 5px;
}

.annoweb.anno-panel {
    display: block;
    padding: 12px;
}

.annoweb.anno-group label {
    line-height: 30px;
}